from datetime import datetime, timedelta
from flask import Flask, request, render_template,redirect,url_for
from bs4 import BeautifulSoup
from werkzeug.datastructures import LanguageAccept
from flask.helpers import make_response
from flask.json import jsonify
import jwt,requests